body {
    font-family: "Noto Sans JP Regular";
    font-size: 12px;
}

p {
  font-size: 15px;
}

ul {
  font-size: 15px;
}

li {
  font-size: 15px;
}

img[src*='#left'] { 
    float: left;
}

img[src*='#right'] { 
    float: right;
}

img[src*='#center'] { 
    display: block; 
    margin: auto; 
}

